body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

input[type=submit]{
    width: auto;
}

label {
    font-size: 16px;
}

#theForm {
    background-color:#d0d0d0;
}

#theForm input[type=submit] {
    color:white;
    background-color:orangered;
}

.product-props {
    font-size: 12px;
}

    ul.product-props li{
    list-style:none;
}
