<h2>@ViewBag.Title</h2>

<form method="post">
    <label>Your Name: </label>
    <br />
    <input name="name"/>
    <br />
    <label>Email: </label>
    <br />
    <input type="email" name="email" />
    <br />
    <label>Subject :</label>
    <br />
    <input type="text" name="subject"/>
    <br />
    <label>Message:</label>
    <br />
    <textarea rows="4" name="message"></textarea>
    <br />
    <input type="submit" value="Send Message" />
    <br />
</form>