@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
    <header>Welcome to Dutch Treat</header>
    <section>
        <h2>@ViewBag.Title</h2>
    </section>

    <footer>Copyrith 2023</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>